/*dress up*/

h1 {
    background-color: rgb(236, 6, 148);
}

.wsite-header-section {
    text-align: center;
}

.header-item {
    text-align: center;
}


.container {
    display: flex;
    align-items: center;

}

.pet-info-container {
    display: flex;
    justify-content:
}

.buttons{
    
  color: rgb(249, 243, 243); 
  padding: 30px 40px; 
  font-size: 30px; 
}